body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: rgb(30, 29, 29);
  color: rgb(255, 255, 255);
}

nav {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 150%;
  display: grid;
  grid-template-columns: 60% 1fr;
}

nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

nav a:hover{
  color: gray;
  font-size: larger;
}

.hamburger-menu{
  display: none;
  align-items: center;
  justify-content: center;
}

.hamburger-menu button{
  background: none;
  border: none;
  color: gray;
}

.hamburger-menu button .fa-bars{
  cursor: pointer;
  font-size: 2.5em;
}

.close-menu{
  display: none;
}

.menu1{
  display: flex;
  justify-content: space-around;
}

.menu1 a{
  display: block;
}

.wrapper{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

header img{
  width: 100%;
}

h1{
  text-align: left;
  font-size: 4.5em;
  margin-bottom: 20px;
  text-indent: 10px;
  font-weight: bold;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  font-weight: bold;
}

h3{
  color: rgb(225, 55, 55);
  font-size: 1.5em;
  font-weight: bold;
}

.hover-text{
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 8px;
  border-radius: 10px;
  color: white;
  transition: opacity 0.3s ease;
}

.movieTitle{
  color: rgb(103, 102, 102);
  font-size: 1.5em;
  font-weight: bold;
}

.books figure:hover .hover-text{
  display: block;
  opacity: 1;
}

.books figure img{
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.books figure:hover img{
  transform: scale(1.05);
  opacity: 0.9;
}

.books figure:hover figcaption{
  transform:translate(0px, 10px);
  color: rgb(255, 255, 255);
}

.books{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100%;
  gap: 16px;
}

.books img{
  width: 100%;
  display: block;
  height: auto;
}

.books figure {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0;
}

.categories figure img{
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.categories figure:hover img{
  transform: scale(1.05);
  opacity: 0.9;
}

.categories figure:hover figcaption{
  transform:translate(0px, 10px);
  color: rgb(255, 255, 255);
}

.story-left{
  grid-column: 1/7;
}

.story-right{
  text-align: left;
  grid-column: 7/13;
}

.story-right h2{
  text-align: left;
  font-size: 2em;
}

.im1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.im2{
  grid-column: 4/7;
  grid-row: 1 / 3;
}

.im3{
  grid-column: 7/10;
  grid-row: 1 / 3;
}

.im4{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3 / 6;
}

.im5{
  grid-column: 10/13;
  grid-row: 1 / 9;
}

.movies{
  text-align: center;
}

.movies img{
  max-width: 100%;
  height: auto;
}

.account{
  margin: auto;
  text-align: center;
}

.account img{
  width: 10%;
}

.account a{
  font-size: 2em;
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.account a:hover{
  font-size: 2.5em;
  color: rgb(255, 255, 255);
}

.synopsis {
  word-wrap: break-word;
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}

.subscription{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.subscription a{
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.subscription a:hover{
  font-size: 2.5em;
  color: rgb(227, 127, 127);
}

.subscription p{
  font-size: larger;
}

.protier{
  color: rgb(239, 84, 84);
}

.protier a{
  color: rgb(195, 31, 31);
  font-size: 4em;
}

footer{
  margin-top: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
}

@media(max-width: 780px){

  .close-menu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: gray;
  }

  button{
    border-width: 0px;
    background-color: white;
  }

  .hamburger-menu{
    display: flex;
    grid-column: auto;
  }

  .menu-deployed{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 11000;
    padding-top: 50px;
  }

  .menu1{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .menu1 a{
    padding: 20px;
    color: gray;
  }

  nav{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 4px solid black;
    background: black;
    z-index: 1000;
    color: white;
  }

  nav a{
    color: white;
  }

  h1 {
    margin-top: 50px;
  }

  #wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  .books{
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 0px;
    grid-auto-flow: row dense;
    width: 100%;
  }

  .books [class^="im"] {
    grid-column: auto !important;
    grid-row: auto !important;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .books figure{
    margin: 0;
  }
  .story-left{
    grid-column: 1/3;
  }

  .story-right{
    grid-column: 1/3;
  }
}